<% # Write your code here! %>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <form action="/greet" method="post">
      <label for="user_name">Name:</label>
      <p><input type="text" name="user_name" id="user_name"/></p>
      <input type="submit" value="Submit"/>
    </form>
  </body>
</html>
